<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafitlife.food.model.dao.FoodDao">
    <!-- 모든 음식 조회 -->
    <select id="selectAll" resultType="Food">
        SELECT *, (SELECT SUM(status)
                    FROM Food_Like_Dislike
                    WHERE food_no = Food.food_no) sumLikeDislike
        FROM Food;
    </select>

    <!-- 음식 번호로 특정 음식 조회 -->
    <select id="selectByFoodNo" parameterType="long" resultType="Food">
            SELECT *, (SELECT SUM(status)
                        FROM Food_Like_Dislike
                        WHERE food_no =  #{foodNo}) sumLikeDislike
            FROM Food
            WHERE food_no =  #{foodNo};
    </select>

    <!-- 새 음식 추가 -->
    <insert id="insertFood" parameterType="Food">
        INSERT INTO Food (food_name, food_amt, food_carb, food_protein, food_fat, food_calorie, mem_no, is_shared)
        VALUES (#{foodName}, #{foodAmt}, #{foodCarb}, #{foodProtein}, #{foodFat}, #{foodCalorie}, #{memNo}, #{isShared})
    </insert>

    <!-- 기존 음식 수정 -->
    <update id="updateFood" parameterType="Food">
        UPDATE Food
        SET food_name = #{foodName},
            food_amt = #{foodAmt},
            food_carb = #{foodCarb},
            food_protein = #{foodProtein},
            food_fat = #{foodFat},
            food_calorie = #{foodCalorie},
            is_shared = #{isShared}
        WHERE food_no = #{foodNo}
    </update>

    <!-- 음식 삭제 -->
    <delete id="deleteFood" parameterType="long">
        DELETE FROM Food
        WHERE food_no = #{foodNo}
    </delete>
</mapper>
