<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafitlife.security.model.dao.RefreshTokenDao">
    <!-- Refresh 토큰 존재 여부 확인 -->
    <select id="existsByRefresh" resultType="boolean" parameterType="String">
        SELECT COUNT(*) > 0
        FROM refresh_tokens
        WHERE refresh_token = #{refresh}
    </select>

    <!-- Refresh 토큰 존재 여부 확인 -->
    <select id="selectMemberNoByRefresh" resultType="int" parameterType="String">
        SELECT mem_no
        FROM refresh_tokens
        WHERE refresh_token = #{refresh}
    </select>

    <!-- 멤버 Refresh 토큰 삭제 -->
    <delete id="deleteRefreshTokenByMemNo" parameterType="int">
        DELETE FROM refresh_tokens
        WHERE mem_no = #{memNo}
    </delete>

    <!-- Refresh 토큰 삭제 -->
    <delete id="deleteRefreshTokenByRefresh" parameterType="String">
        DELETE FROM refresh_tokens
        WHERE refresh_token = #{refreshToken}
    </delete>

    <!-- 리프레시 토큰 삽입 -->
    <insert id="insertToken" parameterType="RefreshToken">
        INSERT INTO refresh_tokens (refresh_token, expiration, mem_no)
        VALUES (#{refreshToken}, #{expiration}, #{memNo})
    </insert>
</mapper>
